@use "../../scss/" as *;

.container {
  padding: 20px 36px;
}

.header {
    margin-bottom: 20px;
}

.card {
  width: 100%;
  min-height: 260px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 10px 10px 8px #888888;
  padding: 20px;
  display: flex;
}

.imgWrapper {
  width: 200px;
  height: 200px;
  margin-right: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 36px;
  flex: 1;

  .userProfile {
      margin-bottom: 32px;
      & :global(.MuiFormControl-root) {
        > label {
          font-size: 1.6rem;
          top: -6px;
          background: transparent;
        }
      }
    
      & :global(.MuiInput-root) {
        > input {
          font-size: 1.6rem;
        }
      }
  }
}

.history {
    margin-top: 36px;
}

.headerButton {
  button {
    padding: 8px 12px;
    font-size: 1.45rem;
    background-color: $primary-color;

    &:hover {
        background-color: $primary-color;
        opacity: 0.85;
    }
}
}
