@use '../../scss/' as *;

.loading {
    @include flex (center,center);
    width: 100%;
    height: 100vh;
}

.container {
    display: block;
    width: 100%;
}

.allProduct {
    margin-bottom: 40px;
    border: 1px solid gray;
    border-top: 2px solid $primary-color;
}

.hotProducts {
    margin: 40px 0;
    border: 1px solid gray;
    border-top: 2px solid $primary-color;
}

.newProducts {
    margin-top: 40px;
    border: 1px solid gray;
    border-top: 2px solid $primary-color;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-bottom: 1px solid gray;

    >h3 {
        color: $text-color;
        font-size: 2rem;
        font-weight: bold;
        line-height: 19px;
        letter-spacing: 1.4px;
    }
}

.productList {
    display: grid;
    grid-template-columns: repeat(4, minmax(210px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    padding: 16px;
    list-style: none;

    @include tablet() {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
    }

    @include mobile() {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
    }
}

.productItem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 20px 40px;
}

.imageWrapper {
    width: 100%;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    &:hover {
        .productController {
            opacity: 1;
        }

        >img {
            transition: transform 250ms ease;
            transform: scale(1.05);
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: 25% 50%;
    }

    .productController {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgb(0,0,0,0.2);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 300ms ease;

        // &:hover {
        //     transition: transform 250ms ease;
        //     transform: scale(1.05);
        // }

        .productIcon {
            margin: 0 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 50%;
            transition: all 250ms ease;
            cursor: pointer;

            &:hover {
                background-color: #e9f5f5;
                transform: scale(1.1);
              }
        }
    }
}



.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.productName {
    padding: 0 10px;
    color: $text-color;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    margin: 8px 0 10px;
}

.productPrice {
    padding: 0 10px;
    color: $product-money;
    font-size: 1.9rem;
    font-weight: 400;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 8px;
}


.viewMore{
    padding: 8px;
    margin: 8px;
    margin-left: auto;
    text-align: right;
}