@use '../../scss/' as *;

.container {
    padding: 0 100px;
    width: 100%;
}

.sliderContainer {
    position: relative;
    width: 100%;

    >.slider {
        width: 100%;
        box-shadow: 0 5px 10px black;
        padding: 24px;
        border-radius: 5px;

        .item {
            width: 100%;
            display: flex !important; 
            justify-content: center;
            >img {
                max-width: 100%;
            }
        }
    }

    >.buttonLeft {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4px;
        border-radius: 50%;
    }

    >.buttonRight {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4px;
        border-radius: 50%;
    }
}

.dotsContainer {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    >ul {
        list-style: none;
        display: flex;
        align-items: center;
        >li {
            margin: 0 8px;
            >.dotsItem {
                padding: 4px;
                border-radius: 50%;
                background-color: black;
                transition: all 250ms ease;
                cursor: pointer;
            }

            &:hover {
                >.dotsItem {
                    background-color: $hover-color;
                    transform: scale(1.5);
                }
            }

        }

        & :global(li.slick-active){
            .dotsItem {
                background-color: $hover-color;
                transform: scale(1.5);
            }
        }
    }
}

