@use "../../scss/" as *;

.container {
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // bottom: 0;
  // background-color: white;
  // z-index: 100;
  padding: 50px 100px;
}

.logo {
  margin-bottom: 30px;
  color: $text-color;
}

.back {
  margin-bottom: 26px;
  a {
    font-size: 2rem;
    font-weight: 400;
    color: $text-color;
    text-decoration: none;
    
    &:hover {
      color: $hover-color;
      text-decoration: underline;
    }
  }
}

.mainBody {
  display: flex;

  .productInfo {
    flex: 1;
    background-color: #fafafa;

    .productTitle {
      margin: 36px 0;
      font-size: 2.7rem;
      font-weight: 400;
      color: $text-color;
      line-height: 1.9rem;
    }

    .productList {
      list-style-type: none;
      max-height: 45vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: darkgrey;
      }

      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #696969;
      }
    }

    .productItem {
      display: flex;
      padding: 12px 0;
    }

    .productImg {
      width: 100px;
      height: 100px;
      margin-right: 36px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      & :global(.BaseBadge-badge) {
        font-size: 1.45rem;
      }
    }

    .productItemInfo {
      flex: 1;
      display: flex;
      justify-content: space-between;
      padding: 8px 16px;
    }

    .productName {
      font-size: 1.6rem;
      font-weight: 600;
      color: $text-color;
      line-height: 1.6rem;
      flex-wrap: wrap;
    }

    .productMoney {
      font-size: 1.6rem;
      color: $product-money;
    }

    .finalCheck {
      margin: 16px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 2rem;
        color: $text-color;
        font-weight: 600;
        line-height: 1.9rem;
      }

      span {
        font-size: 2rem;
        color: $product-money;
        font-weight: 400;
        line-height: 1.9rem;
      }
    }
  }

  .productPayment {
    flex: 1;
    margin-left: 80px;

    .paymentTitle {
      margin: 36px 0;
      font-size: 2.7rem;
      font-weight: 400;
      color: #333;
      line-height: 1.9rem;
    }

    :global(.MuiTypography-root) {
      font-size: 1.6rem;
    }

    .address {
      margin-top: 24px;

      :global(.MuiInputLabel-root) {
        font-size: 1.45rem;
        background-color: white;
        line-height: 2.05rem;
      }

      :global(.MuiOutlinedInput-root) {
        input {
          padding: 14.5px 15px;
          font-size: 1.6rem;
        }
      }
    }
  }

  .buy {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > a {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 400;
      color: $text-color;
      line-height: 1.9rem;

      &:hover {
        color: $hover-color;
        text-decoration: underline;
      }
    }

    button {
      padding: 12px 16px;
      font-size: 1.4rem;
      border-radius: 50px;
    }
  }
}
