@use '../../scss/' as *;
.navbar {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    background-color: white;
    z-index: 100;
}

.left {
    flex: 1;
    margin-right: 100px;
    .logo {
        cursor: pointer;
        font-size: 3.4rem;
        line-height: 40px;
        font-weight: bold;
        color: #0D0E43;
        letter-spacing: 1.1px;
        font-family: 'Josefin Sans', sans-serif;
        text-decoration: none;
    }
}

.center {
    flex: 3;
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.right {
    display: flex;
    align-items: center;

    .login {
        cursor: pointer;
        @include flex(center,center);
        flex-direction: column;
        span {
            font-size: 1.6rem;
            font-weight: 400;
            color: $text-color;
            line-height: 19px;
        }
        margin: 0 8px;
    }

    .cart {
        cursor: pointer;
        @include flex(center, center);
        flex-direction: column;
        span {
            font-size: 1.6rem;
            font-weight: 400;
            color: $text-color;
            line-height: 19px;
        }
        margin: 0 8px;
    }
}