@use "../../scss/" as *;

.container {
  width: 500px;
  height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 48px;
}

.header {
  font-size: 2.9rem;
  margin-bottom: 24px;
  position: relative;
  line-height: 19px;
  letter-spacing: 1.5px;
  z-index: 1;
}

.form {
    width: 100%;
}

.field {
    margin-top: 24px;
    margin-bottom: 40px;
    width: 100%;
    height: 50px;

    & >:global(.MuiFormControl-root) {
      & >:global(.MuiInputLabel-root) {
        font-size: 1.6rem;
      }

      & >:global(.MuiOutlinedInput-root) {
        font-size: 1.6rem;
      }

      & >:global(.MuiFormHelperText-root) {
        font-size: 1.4rem;
        margin: 8px 0;
        color: red;
      }
    }
}

.button {
  margin-top: 48px;
  margin-bottom: 12px;
  button {
    padding: 12px 20px;
    font-size: 1.2rem;
  }
}

.text {
    font-size: 1.6rem;
    margin-top: 8px;
    text-align: center;
}


