@use '../../scss/' as *;

.footer {
    margin-top: 30px;
    width: 100%;
    min-height: 450px;
    background-color: #EEEFFB;
    display: flex;
    flex-direction: column;
    @include tablet() {
        padding: 50px 0 0 0;
    }

    .wrapper {
        display: flex;
        padding: 50px 100px 0;

        @include tablet() {
            flex-direction: column;
            // align-items: center;
            padding: 0 50px;
        }
    }

    .left {
        flex: 1;
        margin-right: 100px;

        @include mobile() {
            margin-right: 0;
        }
        .logo {
            margin: 15px 0;
            h1 {
                font-size: 3.8rem;
                font-weight: bold;
                text-transform: uppercase;
                color: #000000;
                line-height: 44.53px;
                letter-spacing: 1.1px;
                @include mobile() {
                    text-align: center;
                }
            }
        }

        .searchField {
            display: flex;
            align-items: center;
            margin: 15px 0;

            @include mobile() {
                display: none;
            }
        }

        .contactInfo {
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 19px;
            color: #8A8FB9;
            text-decoration: none;

            &:hover {
                color: $hover-color;
            }

            @include mobile() {
                display: none;
            }
        }
    }

    .right {
        flex: 2;
        padding: 24px 0;
        display: flex;
        align-items: flex-start;
        @include mobile() {
            flex-direction: column;
        }

        .list {
            list-style: none;

            @include mobile() {
                display: flex;
                flex-wrap: wrap;
            }
            .item {
                margin: 15px 0;
                transition: all 300ms ease;

                @include mobile() {
                    width: 50%;
                    // text-align: center;
                    &:nth-child(2n) {
                        padding-left: 32px;
                    }
                }
                .itemLink {
                    color: #8A8FB9;
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 19px;
                    text-decoration: none;
                }
                &:hover {
                    transform: translateX(4px);
                    .itemLink {
                        color: $hover-color;
                    }
                }
            }
        }

        .title {
            font-size: 2.2rem;
            font-weight: 400;
            color: #000000;
            line-height: 2.2rem;
            margin-bottom: 50px;
            @include mobile() {
                margin-bottom: 16px;
                text-align: center;
            }
        } 
        .categories {
            flex: 1;
        }
    
        .customCare {
            flex: 1;
            @include mobile() {
                margin: 24px 0;
            }
        }
    
        .pages {
            flex: 1;
        }
    }

    .footerCopyright {
        padding: 30px 100px;
        margin-top: auto;
        background-color: #E7E4F8;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile() {
            flex-direction: column;
            padding: 30px;
        }

        span {
            font-size: 1.6rem;
            font-weight: 300;
            color: #9DA0AE;
            line-height: 1.9rem;

            @include mobile() {
                margin-bottom: 16px;
                font-size: 2rem;
            }
        }

        .socialMedia {
            display: flex;
            align-items: center;
            .icon {
                cursor: pointer;
                padding: 8px;
                margin: 0 8px;
                color: black;
                &:hover {
                    color: $hover-color;
                }

                & >:global(.MuiSvgIcon-root) {
                    font-size: 2rem;

                    @include mobile() {
                        font-size: 3rem;
                    }
                }
            }   
        }
    }
}