@use '../../scss/' as *;

.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: $userController-height;
    background-color: $primary-color;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    @include tablet() {
        padding: 0 16px;
    }
    
    .userInfo {
        span {
            color: white;
            font-size: 1.6rem;
            font-weight: 300;
        }
    }

    .userController {
        display: flex;
        align-items: center;
    }
}

.register,
.login {
    display: flex;
    align-items: center;
    margin: 0 8px;
    cursor: pointer;
    span {
        color: white;
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.shopping-cart {
    margin-left: 8px;
}

.userAvatar{
    display: flex;
    flex-direction: column;
    position: relative;
    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        cursor: pointer;
        border-radius: 50%;
        margin-bottom: 8px;
    }

    & .avatarOptionList{
        display: none;
        &::before{
            content: "";
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
            position: absolute;
            top:-5px;
            left: 50%;
            transform: translateX(-100%);
        }
        .avatarOptionItem{
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 8px;
            &:hover{
                background-color: #f3f3f3;
                border-radius: 4px;
            }
        }
    }

    &:hover .avatarOptionList{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        list-style: none;
        min-width: 200px;
        padding: 12px;
        background-color: #fff;
        box-shadow: 0 1px 3px 3px #999;
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateX(-40%);
        border-radius: 4px;
    }
}

