@use "../../scss/" as *;

.container {
  width: 500px;
  height: 70vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 48px;
  position: relative;

  .close {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    color: $text-color;
    padding: 8px;

    & :global(.MuiSvgIcon-root ) {
      font-size: 3.2rem;
    }
  }
}



.header {
  font-size: 2.9rem;
  margin-bottom: 24px;
  position: relative;
  line-height: 19px;
  letter-spacing: 1.5px;
  z-index: 1;
  // &::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   bottom: -3px;
  //   background-color: #1e90ff;
  //   width: 100%;
  //   height: 8px;
  //   z-index: -1;
  // }
}

.form {
    width: 100%;
}

.field {
    margin-top: 24px;
    margin-bottom: 40px;
    width: 100%;
    height: 50px;

    & >:global(.MuiFormControl-root) {
      & >:global(.MuiInputLabel-root) {
        font-size: 1.6rem;
      }

      & >:global(.MuiOutlinedInput-root) {
        font-size: 1.6rem;
      }

      & >:global(.MuiFormHelperText-root) {
        font-size: 1.4rem;
        margin: 8px 0;
        color: red;
      }
    }
}

.button {
  margin-top: 56px;
  button {
    padding: 12px 20px;
    font-size: 1.2rem;
  }
}

.signUpNav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  @include tablet {
    flex-direction: column;
  }
  @include mobile {
    flex-direction: column;
  }
}

.forgotPass {
  .forgotPassLink {
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    color: $text-color;
  }

  &:hover {
    .forgotPassLink {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.register {
  .registerLink {
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    color: $text-color;
  }

  &:hover {
    .registerLink {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}


