$text-color: #333;
$hover-color: rgb(22, 229, 236);
$primary-color: #1E90FF;
$product-money: #00BFFF;
$border-color: #A9A9A9;

$userController-height: 40px;
$navbar-height: 70px;


$mobile-width:739px;
$tablet-width:1024px;