@use '../../scss/' as *;

.back {
    margin-bottom: 36px;
    > a{
        font-size: 2rem;
        font-weight: 600;
        color: $text-color;
        text-decoration: none;
        
        &:hover {
            color: $hover-color;
        }
    }
}

.container {
    display: flex;
    margin-bottom: 80px;

    @include tablet() {
        flex-direction: column;
    }
}

.loading {
    width: 100%;
    height: 100vh;
    @include flex (center, center)
}

.imageWrapper {
    flex: 1;
    width: 100%;
    height: 60vh;
    margin-right: 50px;

    @include tablet() {
        height: 20vh;
        margin-bottom: 24px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid $border-color;
    }
}

.productInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: 3rem;
    color: $text-color;
}

.price {
    span {
        font-size: 2.5rem;
        color: $primary-color;
    }
}

.desc {
    margin: 16px 0;
    h2 {
      font-size: 2.4rem;
      color: $text-color;
      margin-bottom: 12px;

      @include tablet() {
        font-size: 2.6rem;
    }
    }
  
    span {
      font-size: 1.6rem;
      font-weight: 300;
      color: $text-color;
      text-align: center;

      @include tablet() {
          font-size: 2.3rem;
      }
    }
}

.productController {
    margin-top: auto;
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet() {
        margin-top: 20px;
    }

    @include mobile() {
        flex-direction: column;
        align-items: flex-start;
    }

    .quantity {
        display: flex;
        align-items: center;

        @include mobile() {
            margin-bottom: 24px;
        }

        .removeButton{
            button {
                padding: 10px 12px;
                & :global(.MuiSvgIcon-root) {
                    font-size: 2rem;
                    @include tablet() {
                        font-size: 3rem;
                    }
                }

                @include tablet() {
                    padding: 14px;
                    font-size: 3rem;
                }
            }
        }

        .amount {
            font-size: 2rem;
            margin: 0 16px;

            @include tablet() {
                font-size: 2.6rem;
                margin: 0 32px;
            }
        }

        .addButton {
            button {
                padding: 10px 12px;
                font-size: 2rem;
                & :global(.MuiSvgIcon-root) {
                    font-size: 2rem;
                    @include tablet() {
                        font-size: 3rem;
                    }
                }

                @include tablet() {
                    padding: 14px;
                    font-size: 3rem;
                }
            }
        }
    }

    .buttonAdd {
        @include mobile() {
            width: 100%;
        }
        button {
            padding: 8px 12px;
            font-size: 1.4rem;

            @include tablet() {
                padding: 12px 12px;
                font-size: 1.8rem;
            }

            @include mobile() {
                width: 100%;
            }

        }
    }
}

// rating
.rating {
    h2 {
        color: $text-color;
        letter-spacing: 1.1px;
    }

    span {
        margin: 8px 0;
        font-size: 1.6rem;
        font-weight: 500;
        color: $text-color;
    }
}



// Comments section

.commentSection {
    margin-top: 50px;
}


